<%- include('partials/header') %>
<header>
  <h1><%= title %></h1>
</header>
<p><%= description %></p>

<div class="images">
<%
gallery.forEach(function(item){
%>
  <img src="<%= gallery.url, gallery.id, gallery.size %>" alt="<%= item.title %>">
    <p><%= item.title %></p>
    <p><%= item.credit %></p>

<%
})
%>
</div>


<%= item.name %>



<%- include('partials/footer') %>